<h2><%= @shelter.name %></h2>
<div class="mid_container">
  <div class="col_left">
    <!-- <img src="<%#= @animal.pic_image %>" alt=""> -->
  </div>
  <div class="col_right">
    <p> <%= @shelter.name %> </p>
    <p> <%= @shelter.address %> </p>
    <p> <%= @shelter.phone %> </p>
  </div>
</div>

<form class="" action="/shelters_maintenance" method="get">
  <button type="submit">Go Back</button>

</form>
