<h2><%= @user.name %></h2>
<div class="mid_container">
  <div class="col_left">
    <!-- <img src="<%#= @animal.pic_image %>" alt=""> -->
  </div>
  <div class="col_right">
    <p> <%= @user.name %> </p>
    <p> <%= @user.email %> </p>
    <p> <%= @user.admin %> </p>
  </div>
</div>

<form class="" action="/users_maintenance" method="get">
  <button type="submit">Go Back</button>

</form>
